// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.menu-logo img
{
	height:30px;
	width:30px;
	float:left;
}
.menu-logo ion-title p
{
	float:left;
	padding-left:10px;
	font-size:12px !important;
}
.user-profile
{
	margin-top:10px;
	padding-left:10px;
}
.user-profile img
{
	width:60px;
	height:50px;
	border-radius: 100%;
	border:2px solid #ccc;
}
.user-profile h3
{
	clear:both;
	padding-top:10px;
	color:#fff;
	display:block;
	width:100%;
}
ion-menu .scroll-content{
	margin-top:150px !important;
}
.transparent-body {
  background: none transparent !important;
  opacity: 0 !important;
}
ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
  background: transparent none !important; 
}
.toolbar-background-md
{
	background:#3a3a3a;
}
.toolbar-title-md
{
	color:#fff;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default
{
	color:#fff;
}