page-avail-crops
{
	p.qty-label
	{
		width: 150px;
		float: left;
	}
	ion-card-content
	{
		padding-bottom: 40px !important;
	}
	p.value-label
	{
		width: 100px;
		float: right;
	}
	.crop-list ion-item:nth-child(even)
	{
		border-right:none;
	}
	.crop-list ion-item
	{
		border-right:1px solid #3c3c3c;
		border-bottom:1px solid #3c3c3c;
		width:50%;
		float:left;
		text-align:center;
	}
	ion-item img
	{
		max-height:80px;
		max-width:100px;
		height:80px;
	}
	p.qty-label,p.value-label,p.price-label,p.price-value
	{
		font-size:12px;
		width:auto;
	}
	p.title
	{
		font-weight:bold;
		color:#000;
		font-size:14px;
	}
	ion-row
	{
		display: block !important;
		width: 100%;
		clear: both;
	}
	p.price-value
	{	
		color:red;
		font-weight:bold;
	}
}